h1{
    color: yellow;
    background-color: rgb(133, 3, 3);
    text-align: center;
}
.error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}
.rojo{color: #CB333B;}
.requerido{background-color: rgb(252, 252, 224);}
form{
    display: flex;
    margin: auto;
    gap: 8px;
    width: 50dvw;
    min-width: 600px;
    flex-direction: column;
}