<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Inicio Privado</title>
</head>
<body>
    <h1>Hola <span th:text="${nombreCompleto}"></span>, ésta es tu área privada</h1>
    <form action="/privado" method="post">
        <input type="text" name="nom" id="nom" value="">
        <select name="formCategoria" id="formCategoria" required>
            <option value="" selected disabled hidden>-- Selecciona una categoría --</option>
            <option th:each="categoria : ${categorias}"
                    th:value="${categoria}"
                    th:text="${categoria}"
            ></option>
        </select>
        <select name="formEstado" id="formEstado" required>
            <option value="" selected disabled hidden>-- Selecciona un estado --</option>
            <option th:each="estado : ${estados}"
                    th:value="${estado}"
                    th:text="${estado}"
            ></option>
        </select>
        <input type="submit" value="buscar">
    </form>
    <a href="/">Salir</a>
    <a href="/cerrar">Cerrar Sesion</a>
    
</body>
</html>