<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Inicio Privado de Administrador</title>
</head>
<body>
    <h1>Hola <span th:text="${nombreCompleto}"></span>, ésta es tu área de Administrador</h1>
    <h2>Ultima conexión: <span th:text="${fechaUltimaConexionAnterior}"></span></h2>
    <a href="/">Volver a inicio público</a>
    <a href="/cerrar">Cerrar Sesion</a>
    
    <form action="/privadoAdmin" method="post">
        <input type="text" name="nom" id="nom" th:value="${valor_nombre}">
        <select name="formCategoria" id="formCategoria">
            <option value="">-- Todas las categorías --</option>
            <option th:each="categoria : ${categorias}"
                    th:value="${categoria}"
                    th:text="${categoria}"
                    th:selected="${categoria.toString() == valor_categoria}"
            ></option>
        </select>
        <select name="formEstado" id="formEstado">
            <option value="">-- Todos los estados --</option>
            <option th:each="estado : ${estados}"
                    th:value="${estado}"
                    th:text="${estado.getTextoMostrar()}"
                    th:selected="${estado == valor_estado}"
            ></option>
        </select>
        <select name="formUsuario" id="formUsuario">
            <option value="">-- Todos los usuarios --</option>
            <option th:each="usuario : ${usuarios}"
                    th:value="${usuario.id}"
                    th:text="${usuario.codUsuario}"
                    th:selected="${valor_usuario != null && usuario.id == valor_usuario.id}"
            ></option>
        </select>
        <input type="submit" value="buscar">
    </form>
    <a href="/crearTarea">Crear tarea</a>
    <table>
        <thead>
            <tr>
                <!-- <th></th> -->
                <th>Nombre</th>
                <!-- Descripción seguramente la quite y la deje solo en detalle -->
                <th>Descripción</th>
                <th>Categoría</th>
                <th>Estado</th>
                <th>Fecha trabajo</th>
                <th>Privacidad</th>
                <th>Usuario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tarea : ${tareas}">
                <!-- <td>[*]</td> -->
                <td><span th:text="${tarea.nombre}"></span></td>
                <td><span th:text="${tarea.descripcion}"></span></td>
                <td><span th:text="${tarea.categoria}"></span></td>
                <td><span th:text="${tarea.estado.getTextoMostrar()}"></span></td>
                <td><span th:text="${tarea.getFechaTrabajoFormateada()}"></span></td>
                <td><span th:text="${tarea.privacidad}"></span></td>
                <td><span th:text="${tarea.usuario.codUsuario}"></span></td>
                <td>
                    <form action="/verTarea" method="post" class="iconoEditar">
                        <button type="submit" name="idTareaBoton" th:value="${tarea.id}">
                            <i class="fas fa-edit" style="color: #007bff; font-size: 18px;"></i>
                        </button>
                    </form>
                    <form action="/verBorrarTarea" method="post" class="iconoEditar">
                        <button type="submit" name="idTareaBoton" th:value="${tarea.id}">
                            <i class="fas fa-trash-can" style="color: #bf0000; font-size: 18px;"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>CodUsuario</th>
                <th>Descripción</th>
                <th>Fecha última conexión</th>
                <th>Perfil</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td>[*]</td>
                <td><span th:text="${usuario.codUsuario}"></span></td>
                <td><span th:text="${usuario.descUsuario}"></span></td>
                <td><span th:text="${usuario.fechaHoraUltimaConexion}"></span></td>
                <td><span th:text="${usuario.perfil}"></span></td>
                <td>
                    <form action="/verUsuario" method="post" class="iconoEditar">
                        <button type="submit" name="idUsuarioBoton" th:value="${usuario.id}">
                            <i class="fas fa-edit" style="color: #007bff; font-size: 18px;"></i>
                        </button>
                    </form>
                    <form action="/verBorrarUsuario" method="post" class="iconoEditar">
                        <button type="submit" name="idUsuarioBoton"  th:value="${usuario.id}">
                            <i class="fas fa-trash-can" style="color: #bf0000; font-size: 18px;"></i>
                        </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>