<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilosLogin.css}">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar sesion</h1>
    <form action="/login" method="post">
        <label for="codUsuario">Usuario</label>
        <input class="requerido" type="text" name="codUsuario" id="codUsuario">
        <label for="contrasena">Contraseña</label>
        <input class="requerido" type="password" name="contrasena" id="contrasena">
        <input type="submit" value="Entrar">
    </form>
    <a href="/">Cancelar</a>
    <a href="/registro">Registrarse</a>
</body>
</html>