<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Estas en el login</h1>
    <form action="/login" method="post">
        <label for="codUsuario">Usuario</label>
        <input type="text" name="codUsuario" id="codUsuario">
        <label for="contrasena">Contraseña</label>
        <input type="text" name="contrasena" id="contrasena">
        <input type="submit" value="Entrar">
    </form>
    <a href="/">Cancelar</a>
</body>
</html>