<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Registro</title>
</head>
<body>
    <h1>Estas en el Registro</h1>
    <form action="/registro" method="post">
        <label for="codUsuario">Usuario</label>
        <input type="text" name="codUsuario" id="codUsuario">
        <span class="error rojo" th:text="${error_codUsuario}"></span>
        <label for="contrasena">Contraseña</label>
        <input type="text" name="contrasena" id="contrasena">
        <label for="descUsuario">Nombre y apellidos</label>
        <input type="text" name="descUsuario" id="descUsuario">
        <label for="palabraSeguridad">Palabra de seguridad</label>
        <input type="text" name="palabraSeguridad" id="palabraSeguridad">
        <span class="error rojo" th:text="${error_palabraSeguridad}"></span>
        <input type="submit" value="Entrar">
    </form>
    <a href="/">Cancelar</a>
    <a href="/login">Volver a login</a>
</body>
</html>