<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Registro</title>
</head>
<body>
    <h1>Registro de nuevo usuario</h1>
    <a href="/login">Volver a login</a>
    <form action="/registro" method="post">
        <label for="codUsuario">Usuario</label>
        <input class="requerido" type="text" name="codUsuario" id="codUsuario" th:value="${valor_codUsuario}" required>
        <span class="error rojo" th:text="${error_codUsuario}"></span>

        <label for="contrasena">Contraseña</label>
        <input class="requerido" type="password" name="contrasena" id="contrasena" th:value="${valor_contrasena}" required>
        <span class="error rojo" th:text="${error_contrasena}"></span>

        <label for="contrasena2">Repite Contraseña</label>
        <input class="requerido" type="password" name="contrasena2" id="contrasena2" th:value="${valor_contrasena2}" required>
        <span class="error rojo" th:text="${error_contrasena2}"></span>

        <label for="descUsuario">Nombre y apellidos</label>
        <input class="requerido" type="text" name="descUsuario" id="descUsuario" th:value="${valor_descUsuario}" required>

        <label for="palabraSeguridad">Palabra de seguridad</label>
        <input class="requerido" type="text" name="palabraSeguridad" id="palabraSeguridad" th:value="${valor_palabraSeguridad}" required>
        <span class="error rojo" th:text="${error_palabraSeguridad}"></span>

        <input type="submit" value="Entrar">
    </form>
</body>
</html>